body {
    background: url(../images/crystalCave.jpg);
    /* font-family: 'Permanent Marker', cursive; */
    /* font-family: 'Gochi Hand', cursive;  */
    font-family: 'Caveat Brush', cursive;
    opacity: 0.85;
}
.container {
    padding: 10px;
}

#title {
    background-color: grey;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 56px;
    font-family: 'Permanent Marker', cursive;
}

#rules {
    background-color: grey;
    color: white;
    text-align: center;
    padding: 10px;
}

#rules h2{
    font-size: 40px;
}

#rules p{
    font-size: 19px;
}

hr {
    border-top: 5px solid;
    color: white;
}

#targetNumber {
    background-color: grey;
    color: white;
    text-align: center;
    padding: 10px;
    border-left-width: 3px;
}

#randomNumber {
    font-size: 50px;
    padding: 10px;
}

#winsLosses {
    background-color: grey;
    color: white;
    text-align: center;
    padding: 10px;
}

#userTotal {
    background-color: grey;
    color: white;
    text-align: center;
    padding: 10px;
}

#userNumber {
    font-size: 75px;
    padding: 10px;
}

#winsLosses {
    padding: 40px;
}

.gem {
    padding: 17px;
}
